* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
    background-image: url(https://cdna.artstation.com/p/assets/images/images/014/760/370/large/gokamyo-draws-cm-marca.jpg?1545334142);
    background-color: deepskyblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}


.header {
    background-image: url(https://septimobit.files.wordpress.com/2012/04/originalzelda2.jpg);
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover

}


h1 {
    position: relative;
    font-family: monospace;
    color: white;
    font-size: 42px;
    text-align: center;
    margin: 0;
    top: 30%;
    background-color: black;
    margin-bottom: 210px;
    margin-top: -25px
}

/*Nav styling*/
nav ul {
    background-position: center center;
    display: inline-flex;
    list-style-type: none;
    padding: 0px;
    background-color: black;
    font-size: 20px;
    font-family: monospace;
    text-align: center;
    align-self: center;
    overflow: visible;
    margin-bottom: -25px;
}

li {
    color: white;
    position: relative;
    align-self: center;

}

li a {
    display: inline-flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    overflow: auto;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: white;
    color: black;
    overflow: visible;
}

h2 {
    color: white;
    background: black;
    font-family: monospace;
    font-size: 30px;
    position: relative;
}

/* Paragraph stylings*/
p1 {
    color: black;
    font-family: monospace;
    font-size: 20px;
}

canvas {
    border: 1px solid black;
}

/* table stylings */
.about {
    background-color: #d3a05f;
    margin: 0px auto;
    padding: 20px 30px 40px 30px;
    overflow: auto;
    width: 75%;
    border-radius: 8px;
    align-self: center;
    opacity: .92;
    border-color: black;
    border: 2px;
    margin-bottom: 10px;
    margin-top: 30px
}


/* Clear floats after image containers */
.row {
    display: flex;
}


.table {
    border: 5px solid black;

}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

